{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        {% if not tasks.items %}
            <h3>You have no tasks</h3>
        {% else %}
            <h3 class="mb-3">
                {{ tasks.items[0].author.username }} you have [{{ tasks.total }}] tasks
            </h3>
        {% endif %}
    </div>

        {%  for task in tasks.items %}
            <article class="media content-section">
            <img class="rounded-circle article-img"
                 src="{{ url_for('static',filename='profile_pics/' +
                 task.author.image_file) }}">
                <div class="media-body mb-0">
                    <div class="article-metadata">
                        <a class="mr-2" href={{ url_for('tasks.user_tasks',
                            username=task.author.username) }}>
                        {{ task.author.username }}
                        </a>
                        <small class="text-muted">
                        created at: {{ task.date_created.strftime('%Y-%m-%d') }}
                        </small>
                        <a class="mr-2" href={{ url_for('tasks.task',
                            task_id=task.id) }}>
                            Edit
                        </a>
                    </div>
                    <p><a class="article-title" href="{{url_for('tasks.task',
                            task_id=task.id) }}">
                        title: {{ task.title }}
                    </a></p>
                    <p class="article-title">
                        task duration: {{ task.duration_sec }}
                    </p>
                    <p class="article-title">
                        task already run: {{ task.run_status }}
                    </p>
                </div>
            </article>
        {% endfor %}
        {%  for page_num in tasks.iter_pages(left_edge=1, right_edge=1,
        left_current=1, right_current=3) %}
            {% if page_num %}
                {% if tasks.page == page_num %}
                    <a class="btn btn-info mb-4" href="{{ url_for
                    ('tasks.user_tasks', username=user.username,
                        page=page_num) }}"> {{ page_num }}
                    </a>
                {% else %}
                    <a class="btn btn-outline-info mb-4" href="{{ url_for
                    ('tasks.user_tasks', username=user.username,
                        page=page_num) }}"> {{ page_num }}
                    </a>
                    {% endif %}
            {% else %}
            {% endif %}
        {% endfor %}

{% endblock content %}
